<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="employee-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hi!</h2>
    <!-- ------- -->
    <!-- ------- -->
    <div><h3>Employees List </h3></div>
    <!-- <dom-repeat items="{{employees}}" > -- as cambia el nombre que te da por default -->
    <dom-repeat items="{{employees}}" as="persona" filter="isEngineer">
      <template>
        <div>First name; <span>{{persona.first}}</span></div>
        <div>Last name; <span>{{persona.last}}</span></div>
        <div>El tipo; <span>{{persona.type}}</span></div>
        <hr>
      </template>
    </dom-repeat>
    <!-- ------ -->
  </template>

  <script>
    /**
     * `employee-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmployeeList extends Polymer.Element {
      static get is() { return 'employee-list'; }
      static get properties() {
        return {
          employees:{
            value(){
              return [
                {first: 'Bobo', last: 'Smith', type:"ingienierob"},
                {first: 'Sally', last: 'Johnson', type:"aliac"},
                {first: 'Luis', last: 'Paez', type:"ingienierob"}
              ];
            }
          }
        };
      }//Properties
      isEngineer(elemento){
        return elemento.type === "ingienierob"
      }
    }

    window.customElements.define(EmployeeList.is, EmployeeList);
  </script>
</dom-module>
