<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-evento-notificacion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Eventos de Notificación</h2>
    <fieldset>
      <form action="">
        <legend>Formulario</legend>
        <p>
          <label for=""></label>
          <input type="text" name="myinput" id="myinput" 
          value="{{valorEscrito::input}}" placeholder="[[placeHolder]]">
          <!-- "{{valorEscrito::input}}" Para sincronizar -->
        </p>
        <button type="submit">Enviar el Formulario</button>
      </form>
    </fieldset>
    <hr>
    <span>Valor ingresado: [[valorEscrito]]</span>
  </template>

  <script>
    class MiEventoNotificacion extends Polymer.Element {
      static get is() { return 'mi-evento-notificacion'; }
      static get properties() {
        return {
          texto: {
            type: String
          },
          valorEscrito: {
            type: String,
            notify: true
          },
          placeHolder: {
            type: String,
            value: "Escribe aquí"
          },
          required: Boolean
        };
      }
      ready(){
        super.ready();
        this.addEventListener("valor-escrito-changed",
         (e) => {console.log('evento lanzado',e); } );
      }
    }

    window.customElements.define(MiEventoNotificacion.is, MiEventoNotificacion);
  </script>
</dom-module>
