<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-repeat">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <template is="dom-repeat" items="{{persons}}" as="person">
      <!-- <h2>[[person.name]] => [[person.age]]</h2> -->
      <template is="dom-if" if="[[!graterThan(person.age,18)]]">
        <p>[[person.name]] => [[person.age]]</p>
      </template>
    </template>
  </template>

  <script>
    class MiRepeat extends Polymer.Element {
      static get is() { return 'mi-repeat'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-repeat'
          },
          persons: {
            type: Array,
            value:[
              {name: "Luis", age:24},
              {name: "Cinthia", age:23},
              {name: "Marisol", age:10},
              {name: "Enrique", age:23},
              {name: "Cesar", age:8}
            ] 
          }
        };
      }
      graterThan(p,edad){
        return p>=edad;
      }

    }

    window.customElements.define(MiRepeat.is, MiRepeat);
  </script>
</dom-module>
