<head>
        <title>MarteVSJupiter</title>
    </head>
    <body>
        <h1>Tu peso en otro Planeta</h1>
        <p>En la Tierra pesas distinto que en Marte o Jupiter</p>
        <script>
            var peso = parseInt(prompt("Cual es tu peso: ?"));
            var planeta = parseInt(prompt("1. Marte \n2.Jupiter \nElige tu planeta: "));
            //var peso = parseInt(usuario);
            var g_tierra = 9.8;
            var g_marte = 3.7;
            var g_jupiter = 24.8;
            var peso_final;
            var work = "";
            
            if(planeta == 1){
                peso_final = parseInt(peso * g_marte / g_tierra);
                //document.write("\nHola, tu peso es: " + peso_final);
                work = "Marte";
            }else if (planeta == 2){
                peso_final = parseInt(peso * g_jupiter / g_tierra);
                work = "Jupiter";
            }else{
                peso_final = 1000000;
                work = "Kripton";
            }

            document.write("\nHola, tu peso en " + work + " es: " + peso_final + " kilos");
        </script>
    </body>
    </html>