@charset "utf-8";

/* Simples */

body{
    background-color: "D5DBDB";
}

*{
    color: blue;
}

p{
    color: green;
}

p.class-parr-3{
    color: pink;
}

.class-parr-2{
    color: black;
}

li#e-uno{
    font-size: 25px;
}

#e-dos{
    color: black;
    font-size: 40px;
}
 
/* Combinados */

div, section{
    border: yellow 3px solid;
}

div h2{
    color: red;
}

/* Si hay intermentos intermedios no los modifica hasta llegar al final --- modifica todos los parrafos */
/* div ul li p --- No le importo los elementos */
div p{ 
    color: deeppink;
}

/* Hijos - hijos directos del DIV*/
/* le importan los elementos intermedios*/
div.div-4 > p{
    color: orange;
}

/* Hermano intermedio - span que son hermanos inmediatos de artic 
Es decir despues de la etiqueta.arctic esta el span JUNTITOS JUNTITOS JUNTITOS */
article.artic + span{
    font-size: 40px;
    color: black;
}

/* Hermanos grales, no necesariamente inmediatos */
/* tilde ---> option + ñ */
article ~ span{ 
    font-size: 30px;
    color: turquoise;
}

/* atributos */
th[scope]{
    color: yellowgreen;
}

th[scope="row"]{
    background-color: goldenrod;
    color: mediumslateblue;
}

td[class="price"]{
    background-color: darkgrey;
}

/* Busca los td donde encuentre esa palabra */
td[class~="prodct"]{
    background-color: yellowgreen;
    text-transform: uppercase;
}
