/* Practicando Flexbox */
.flexbox{
    display: flex;
    /* flex-direction: column;  */
    flex-wrap: wrap;
    border: 1px solid red;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid blue;
    flex-shrink: 0;
}

/* ---------------------------------- */
body{
    margin: 0;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1D242C;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
}

.project{
    /* border-color:; No hace nada sino tiene un ancho de borde y estilo de borde */
    /* ----------------------- */
    /* border-top:10px solid green;
    border-right:10px solid yellow;
    border-left: 10px solid pink;
    border-bottom: 10px solid orange; */
    /* ----------------------- */
    /* El color del borde se puede asignar de forma predeterminada, dependiendo del color del texto
    color: yellow;
    border-width: 10px;
    border-style: solid; */
    /* ----------------------- */
    /* Solo el borde superior lo pone en color yellow
    border-top-color: yellow;
    border-width: 10px;
    border-style: solid; */
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px;
    padding: 20px;
    /* width: 400px; */
}

.project-details{
    width: 500px;
    display: inline-block;
}

.project-imageContainer{
    display: inline;
}

.project-image{
    width: 300;
    height: 150;
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
} 

h1{
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Liu Jian Mao Cao', cursive; */
    /* line-height: 45px; */
    line-height: 1.5;
    font-size: 33px;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    color: white;
    margin: 0;
    /* margin: 0px 500px 5px 5px; */
}

h1 strong{
    color: #026fff;
}

.header{
    background-color: #1D242C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    height: inherit;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0 4px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ol,ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.logo{
    margin: 0;
}

.imageLogo{
    margin: 0;
    width: 130px;
    height: 60px;
}

