@charset "utf-8";
/* #D6D6D6 GRIS*/
/* #F79231 NARANJA*/
body{
    margin:50px 0;
    padding: 0 30px;
}

table{
    font-family: 'Roboto', sans-serif;
    background: #999999;
}

tr #unic{
    background-color: #999999;
    border: .5px dashed #D6D6D6; 
    /*padding: 25px 20px 0px 30px;*/
    text-align: right;
    color: white;
    height: 72px;
    display: table-cell;
}

td{
    background-color: #D6D6D6;
    /* border: 1px solid #D6D6D6; */
    padding: 20px 28px;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

tr{
    margin: 0; padding: 0;
}

tbody td:last-child{
    background-color: #F79231;
    /* border: 1px solid #F79231; */
    padding: 20px 28px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

tbody tr:last-child td:first-child{
    padding-left: 30px;
    text-align: center;
}