<link rel="import" href="../polymer/polymer-element.html">
<!-- Agregamos el import de la dependencia que vamos a utilizar -->
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="mi-propiedades">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <!-- <h2>Hello [[title]]!</h2> -->
    <span>Otra propiedad: "[[currentValue]]"</span>
    <hr>
    <button on-click="cambiarValor">Haz clic para cambiar el valor (que se refleja en el atributo)</button>
    <hr>
    <!-- Utilizamos nuestra dependencia paper-input -->
    <paper-input label="Escribe algo" value="{{prop1}}"></paper-input>
    <hr>
    <h3>Data bindings</h3>
    <a href$="[[url]]">[[url]]</a>
    <paper-input label="Escribe la URL: " value="{{url}}"></paper-input>
    <hr>
    <h3>Observers</h3>
    <p>[[valoracion]]</p>
    <hr>
    <h3>Computed properties</h3>
    <fieldset>
      <label>Primer numero: [[param1]]</label><br>
      <label>Segundo numero: [[param2]]</label>
      <p><strong>La suma es: </strong>[[totalCalculo]]</p>
    </fieldset>
  </template>

  <script>
    /**
     * `mi-propiedades`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiPropiedades extends Polymer.Element {
      static get is() { return 'mi-propiedades'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-propiedades'
          },
          /*title: {
            type: String,
            value: 'mi-pro'
          },*/
          param1: Number,
          param2: Number,
          fechaTransaccion: {
            type: Date,
            value: new Date(),
            readOnly: true, //Si fuera false nos daria la opción de cambiar el valor
            reflectToAttribute: true
            // Refleja la fecha y todo lo demas sin que modifiques el que esta en uso-index
          },
          currentValue:{
            type: String,
          },
          url:{
            type: String
          }, 
          valoracion: {
            type: String,
            notify: true,
            // Necesitamos un callback _valoracionObserver para observar 
            observer: '_valoracionObserver'
          }, 
          totalCalculo:{
            type: Number, 
            value: 0, 
            readOnly: true,
            notify: true,
            computed: 'sumaTotalesTransacion(param1, param2)'
          }
        };//Return 
      }//Get properties
      cambiarValor(){
        this.fechaTransaccion=Date.now();
        // Agregamos el cambio de valor para que al hacer click cambie el oldValor de VALORACION
        this.valoracion=Date.now();
      }
      _valoracionObserver(newValue, oldValue){
        if(newValue === undefined){
          console.log('if es igual a true!!');
          console.log('el nuevo valor es: '+newValue);
        } else {
          console.log('oldValue: ', oldValue);
        }
      }
      sumaTotalesTransacion(pm1, pm2){
        return pm1 + pm2;
      }
    }//Clase

    window.customElements.define(MiPropiedades.is, MiPropiedades);
  </script>
</dom-module>
