<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="slot-element">
  <template>
    <style>
      :host {
        @apply --my-custom-mixin;
      }
      ::slotted(span){
        color: aqua;
        background-color: pink;
      }
      ::slotted(.claseSlotA){
        background-color: yellowgreen;
      }
    </style>
    <h1><slot></slot></h1>
    <hr>
    <h2>Hello [[prop1]]!</h2>
    <hr>
    <span>Otro slot<slot name="span1"> [texto x default] </slot> </span>
    <hr>
    <span>El 3er slot:
      <slot name="span3Clase">Texto en el slot 3</slot>
    </span>
    <hr><hr>
    <p>Valor nuevo
      <div id="new">
        AQUI...!!!!!
      </div>
    </p>

  </template>

  <script>
    /**
     * `slot-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SlotElement extends Polymer.Element {
      static get is() { return 'slot-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slot-element'
          }
        };
      }
      ready(){
        super.ready();
        this.$.new.innerHTML = "Componente Listo";
      }
    }

    window.customElements.define(SlotElement.is, SlotElement);
  </script>
</dom-module>
