<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-repeat">
  <template>
    <style>
    </style>

    <h1>For para de elememtos en el arrego</h1>

    <template is="dom-repeat" as="e" 
    items="{{arregloElementos}}" 
    filter="isOlderThan40" sort="miSort"> 

      <h2>Elementos: </h2>
      <div>[[e.name]] - [[e.age]]</div>
      
      <template is="dom-if" if="{{isMyCuate(e)}}">
        <p>Que trans [[e.name]]</p>
      </template>

      <template is="dom-if" if="{{!isMyCuate(e)}}">
        <p>No te conozco [[e.name]]</p>
      </template>


    </template>
  </template>

  <script>
    /**
     * `my-repeat`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyRepeat extends Polymer.Element {
      static get is() { return 'my-repeat'; }
      static get properties() {
        return {
          arregloElementos: {
            type: Array,
            value:[
              {name: "Luis", age:28},
              {name: "Cinthia", age:28},
              {name: "Marisol", age:13},
              {name: "Enrique", age:38}
                ] 
          }
        };
      }
      isOlderThan40(item){
        return item.age >= 25;
      }
      miSort(a,b){
        var nameA = a.name.toUpperCase();
        var nameB = b.name.toUpperCase();
        if(nameA > nameB){
          return 1;
        } else if(nameA < nameB){
          return -1;
        }
          return 0;
      }
      isMyCuate(elemento){
        return elemento.name === "Cinthia";
      }
    }

    window.customElements.define(MyRepeat.is, MyRepeat);
  </script>
</dom-module>
