<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ciclo-vida">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[fechaTransaccion]]!</h2>
    <span>Buenos Días [[prop1]]</span>

  </template>

  <script>
    /**
     * `ciclo-vida`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CicloVida extends Polymer.Element {
      static get is() { return 'ciclo-vida'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'ciclo-vida'
          },
          param1: Number,
          param2: Number,
          fechaTransaccion: {
            type: Date,
            value: new Date(),
            readOnly: true
          },
          currentValue:{
            type: String,
          }
        };
      }

      constructor(){
        super();
        console.log('Un elemento se ha creado');
      }
      connectedCallback(){
        super.connectedCallback();
        console.log('El elemento se ha introducido en el DOM');
      }
      disconnectedCallback(){
        super.disconnectedCallback();
        console.log('El elemento se ha retirado del DOM');
      }
      attributeChangedCallback(nombre, valorAnterior, valorNuevo){
        super.attributeChangedCallback(nombre, valorAnterior, valorNuevo);
        console.log('Un atributo a cambiado', nombre, valorAnterior, valorNuevo);

      }
      ready(){
        super.ready();
        console.log('Un elemento '+CicloVida.is+' esta listo');
      }
    }

    window.customElements.define(CicloVida.is, CicloVida);
  </script>
</dom-module>
