@charset "utf-8";

#ingresoUser{
    color: pink;
    text-align: left;
    font-size: 15px;
}

fieldset{
    border: .5px solid palevioletred;
    width: 270px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

section{
    border: .5px dashed black;
}

#fechaDate{
    color: grey;
    text-align: center;
}
