html {
    font-size: 10px; 
    font-family: placeholder;
    font-family: 'Montserrat', sans-serif;
    background-color: ghostwhite;
  }

  body {
    width: 800px;
    margin: 0 auto;
    background-color: azure;
    padding: 20px;
    border: 2px dashed black;
  }

  h2 {
    margin: 0;
    padding: 30px 0;    
    color: powderblue;
    text-shadow: 3px 3px 1px black;
  }

  h2 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
 
