body{
    margin: 0;
    padding: 30px 20%;
}
p{
    color: white;
    margin: 5px;
}
header{
    background-color: #F0652B;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 15px;
}
nav{
    background-color: #F4D340;
    border-radius: 18px;
    height: 60px;
    margin-bottom: 15px;
}

section{
    display: flex;
    flex-direction: row;
}
    main{
        border-radius: 15px;
        background-color: #167362;
        width: 65%; height: 300px;
        display: block;
    }
        .secArticles{
            display: flex;
            justify-content: space-around;
            margin-top: 33%;
        }
        .art1,.art2{
            border-radius: 11px;
            background-color: #97D5C9;
            width: 40%; height: 120px;
        }
    aside{
        margin: 0 0 0 15px;
        border-radius: 15px;
        background-color: #5A8DC9;
        width: 35%; 
        display: inherit;
    }

footer{
    background-color: #97D5C9;
    border-radius: 15px;
    height: 60px;
    margin-top: 15px;
}
