body{
    margin: 20px 40px; padding: 0;
}

div{
    border: 2px solid gainsboro;
    background-color: gainsboro;
    padding: 8px;
    display: flex;
    font-family: sans-serif;
}

h2{
    text-transform: uppercase;
    color: white;
    margin: 11px 0;
}

h3{
    font-weight: lighter;
}

label{
    margin-bottom: 7px;
}

.sec1{
    background-color: #5E92F1;
    width:35%; 
    border-radius: 7px 0px 0px 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 125px 0;
}

.sec1 p{
    font-size: 11px;
    color: white;
}

.sec2{
    background-color: white;
    width:65%; 
    border-radius: 0px 7px 7px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 33px;
    box-sizing: border-box;
}

.sec2 label,.sec2 input{
    font-size: 11px;
}

.name,.number,.email,.msm{
    border: none;
    border-bottom: .5px solid gray;
}

.lab::after{
    content: "*";
}

button{
    background-color: #5E92F1;
    border: none;
    border-radius: 10px;
    width: 22%;
    align-self: flex-end;
    font-size: 11px;
    padding: 5px;
    color: white;
}
