@charset "utf-8";

body{
    margin: 50px;
}

table{
    border: 2px solid black;
}

thead{
    background-color: #BDEAFF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

tbody{
    text-align: center;
}

tfoot td{
    background-color: #C1FE99;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding-right: 3px;
}

td{
    padding: 0 15px;
    margin: 0;
    border: 1px solid black;
}

.numCol td:nth-child(1){
    background-color: #FDFF99;
    font-weight: bold;
    font-size: 18px;
}

tbody td:last-child{
    text-align: right;
    padding-right: 3px;
}